@model NewsDotNet.WebUI.Areas.Admin.Models.ChangePasswordViewModel

@{
    Layout = null;
    string notification = TempData["notification"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменение пароля</title>
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/signin.css" rel="stylesheet" />
    <link href="~/Content/Styles/AdminStyles.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        @if (null != notification)
        {
            <div class="alert alert-warning" role="alert">
                <center>@notification</center>
            </div>
        }
        @using (Html.BeginForm("ChangePasswordAgain", "Users", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @class = "form-signin", id = "passwordForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="newPassword">Старый пароль</label>
                @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control", placeholder = "Старый пароль" } )
                @Html.ValidationMessageFor(model => model.oldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="newPassword">Новый пароль</label>
                @Html.PasswordFor(model => model.newPassword, new { @class = "form-control", placeholder = "Новый пароль" })
                @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                <!--input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Новый пароль" data-val="true" data-val-required="Введите новый пароль" />
                <span class="field-validation-valid text-danger" data-valmsg-for="newPassword" data-valmsg-replace="true"></span-->
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Повторите новый пароль</label>
                @Html.PasswordFor(model => model.confirmNewPassword, new { @class = "form-control", placeholder = "Новый пароль" } )
                @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })

                <!--input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Новый пароль" data-val="true" data-val-required="Повторите новый пароль" data-val-equalto="Введенные пароли не совпадают" data-val-equalto-other="NewPassword" />
                <span class="field-validation-valid text-danger" data-valmsg-for="confirmNewPassword" data-valmsg-replace="true"></span-->
            </div>
            <button type="submit" class="btn btn-primary btn-block">Изменить</button>
        }
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>